@if (Houses.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">NoRooms</th>
                
                <th scope="col">Area</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">City</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in Houses)
            {
            <tr>
                <td>
                    <img src="@house.ImageURL" alt="house image" style="width:150px;" />
                </td>
                <td class="align-middle">
                    @house.NumOfRooms
                </td>

                <td class="align-middle">
                    @house.Square m²
                </td>
                <td class="align-middle">
                    @house.Description
                </td>

                @*<td class="align-middle">
            @house.Region.Name not working so far
        </td>*@
                <td class="align-middle">
                    @house.Status
                </td>

                <td class="align-middle">
                    $@house.Price
                </td>

                <td class="align-middle">
                    <button type="button" class="btn btn-info" @onclick="() => RedirectToUpdate(house.Id)">Update</button>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger" @onclick="() => Delete(house.Id)">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>
        Loading Houses...
    </span>
}